.educationWrapper{
    height: auto;
    width: auto;
    margin: 0 4vw 0vh 4vw;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    overflow: hidden;
}
.educationWrapperTop{
    padding: 1vh 0vh;
}
.educationWrapperTop h3{
    font-size: 3.1rem;
    color: #344054;
}
.educationWrapperTop span{
    color: #FD853A;
}
.educationWrapperBottom{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.educationWrapperBottomLeft{
    height: 100%;
    width: 40%;
    padding-top: 1vw;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.educationWrapperBottomLeft div{
    height: 13.5vw;
    width: 100%;
}
.educationWrapperBottomLeft h4{
    font-size: 1rem;
    color: #344054;
}
.educationWrapperBottomLeftFirst div{
    color: #98A2B3;
}
.educationWrapperBottomLeftSecond div{
    color: #98A2B3;
}
.educationWrapperBottomLeftThird div{
    color: #98A2B3;
}

.educationWrapperBottomMiddle{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.educationWrapperBottomMiddle img{
    height: 31vw;
}
.educationWrapperBottomRight{
    height: 100%;
    width: 40%;
    display: flex;
    padding-top: 1vw;
    padding-left: 3vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.educationWrapperBottomRight div{
    height: 13.5vw;
    width: 100%;
}
.educationWrapperBottomRight h4{
    font-size: 1rem;
    color: #344054;
}
.educationWrapperBottomRightFirst div{
    color: #98A2B3;
}
.educationWrapperBottomRightSecond div{
    color: #98A2B3;
}
.educationWrapperBottomRightThird div{
    color: #98A2B3;
}
@media(max-width:376px){
    .educationWrapperBottom{
        height: 28rem;
    }
    .educationWrapperBottomMiddle img{
        height: 86vw;
    }
    .educationWrapperBottomRight div{
        height: 37.5vw;
        width: 100%;
    }
    .educationWrapperBottomLeft div{
        height: 37.5vw;
        width: 100%;
    }
}
@media(max-width:589px) and (min-width:376px){
    .educationWrapperBottomMiddle img{
        height: 86vw;
    }
    .educationWrapperBottomRight div{
        height: 37.5vw;
        width: 100%;
    }
    .educationWrapperBottomLeft div{
        height: 37.5vw;
        width: 100%;
    }
}