.homecontentWrapper{
    display: grid;
    height: 88vh;
    width: 100%;
    overflow: hidden;
}
.homecontentMain{
    order: 1;
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 0;
    transition: top cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.homecontentMainHello{
    padding: 10px 20px;
    border: 0.5px black solid;
    border-radius: 30px;
}
.homecontentMainHello h3{
    font-size: 3vh;
}
/* .homecontentMainInfo{

} */
.homecontentMainInfo h1{
    font-weight: 500;
    text-align: center;
    font-size: 9vh;
}
.homecontentMainInfo span{
    color: #FD853A;
    font-weight: 600;
}
.homecontentDetails{
    order: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:  0 5vw;
    position: relative;
    top: 0vw;
    transition: top cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
}
.homecontentDetailsLeft{
    display: flex;
    flex-direction: column;
    width: 22vw;
    gap: 2vh;
}
.homecontentDetailsLeftMain{
    font-size: 3vh;
}
.homecontentDetailsRight{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.homecontentDetailsRightMain{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 3vh;
}
.homecontentDetailsRightMain h3{
    font-size: 5vh;
}
.homecontentProfilePhoto{
    order: 3;
    height: 58%;
    width: 57%;
    position: absolute;
    align-self: self-end;
    justify-self: center;
    bottom: 0;
    display: grid;
    transition: top cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
}
.homecontentProfilePhotoCircle{
    position: absolute;
    height: 18rem;
    width: 36rem;
    z-index: 2;
    border-radius: 18rem 18rem 0 0;
    background-color: #FD853A;
    justify-self: center;
    align-self: self-end;
}
.homecontentProfilePhotoImg{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    transform: scale(1);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
}
.homecontentProfilePhotoImg img{
    height: 36rem;
    width: 32rem;
    z-index: -1;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
}
.homecontentProfilePhotoBackground{
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s; 
}
.homecontentProfilePhotoBackground img{
    height: 10rem;
    width: 10rem;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
}
.homecontentProfilePhoto:hover ~ .homecontentMain{
    position: relative;
    top: 18rem;
}

.homecontentProfilePhoto:hover ~ .homecontentDetails {
    position: relative;
    top: -15rem;
}
.homecontentProfilePhoto:hover .homecontentProfilePhotoImg img{
}
.homecontentProfilePhoto:hover .homecontentProfilePhotoBackground img{
    transform: scale(4) scaleX(1.1) translate(-0.5rem, -2rem);
}
/* .homecontentWrapper:hover .homecontentProfilePhotoBackground{
    top: -93vh;
    transform: scale(1);
    transform: scaleX(1.15);
}
 */
