.navbarWrapper{
    height: 9vh;
    width: 100%;
}
.navbarMain{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
    gap: 1vw;
    margin: 3vh 5vw;
    padding: 0.5vh 0.5vw;
    border-radius: 90px;
}
.navbarMain div{
    padding: 0 0vw;
    height: 90%;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    border-radius: 90px;
}
.navbarMain div:hover{
    background-color: #FD853A;
    cursor: pointer;
}
.navbarMain a{
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:475px){
    .navbarWrapper{
        height: 9vh;
        width: 100%;
        
    }
    .navbarMain{
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #171717;
        border-radius: 90px;
    }
    .navbarMain div{
        padding: 0 0vw;
        height: 90%;
        width: 50vw;
        display: flex;
        font-size: 0.7rem;
        align-items: center;
        justify-content: center;
        background-color: #171717;
        border-radius: 90px;
    }
    .navbarMain div:hover{
        background-color: #FD853A;
        cursor: pointer;
    }
    .navbarMain a{
        color: white;
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}