.projectComponentWrapper{
    position: absolute;
    height: 15.8rem;
    width: 27rem;
    border-radius: 1rem;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    /* background-image: url(https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center; */
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
}
.projectComponentWrapperBackgroundImage{
    position: relative;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    z-index: -1;
}
.projectComponentTop{
    position: absolute;
    padding: 1rem ;
    height: auto;
    width: auto;
    display: flex;
    z-index: 1;
}
.projectComponentTopButton{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid #FD853A;
    background-color: #FD853A;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.githubIcon{
    height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
}

.projectComponentBottom{
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;

}
.projectComponentBottomHead{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.projectComponentBottomHead h3{
    color:black;
    font-size: 2rem;
    font-weight: 100;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;

}
.projectComponentBottomDetails{
    display: none;
    color: #fe7f00;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;

    
}
.projectComponentWrapper:hover .projectComponentBottomDetails{
    display: flex;
    transform: scale(1.01);
}
.projectComponentWrapper:hover .projectComponentBottom{
    backdrop-filter: blur(10px);
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.425);
    right: 3%;
    width: 85%;
}
.projectComponentWrapper:hover .projectComponentTopButton img{
    transform: rotate(0deg) scale(0.8);
}

.is-active .is-visible .projectComponentBottomDetails{
    display: flex;
    transform: scale(1.01);
}
.is-active .is-visible .projectComponentBottom{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.623);
    transform: scale(1.01);
    right: 3%;
    width: 85%;
}
.is-active .is-visible .projectComponentTopButton img{
    transform: rotate(0deg) scale(0.8);
}

@media(max-width:525px) and (min-width:425px){
    .projectComponentWrapper{
        height: 15.8rem;
        width: 19rem;
    }
}
@media(max-width:425px)and (min-width:375px){
    .projectComponentWrapper{
        height: 15.8rem;
        width: 15rem;
    }
    .is-active .projectComponentBottomDetails{
        display: flex;
        transform: scale(1.01);
    }
    .is-active .projectComponentBottom{
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.623);
        transform: scale(1.01);
        right: 3%;
        width: 85%;
    }
    .is-active .projectComponentTopButton img{
        transform: rotate(0deg) scale(0.8);
    }
}
@media(max-width:375px)and (min-width:320px){
    .projectComponentWrapper{
        height: 15.8rem;
        width: 11rem;
    }
    .is-active .projectComponentBottomDetails{
        display: flex;
        transform: scale(1.01);
    }
    .is-active .projectComponentBottom{
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.623);
        transform: scale(1.01);
        right: 3%;
        width: 85%;
    }
    .is-active .projectComponentTopButton img{
        transform: rotate(0deg) scale(0.8);
    }
}