.skillscomponentWrapper{
    height: 19rem;
    width: 18rem;
    border-radius: 40px;
    background-color: #6868683e;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 3vh;
    align-items: center;
    padding: 1rem 0;
}
.skillscomponentTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    height: 10vh;
    width: 100%;
}
.skillscomponentTitle h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}
.skillscomponentTitle span{
    height: 1px;
    width: 100%;
    background-color: #f9fafb33;

}
.skillscomponentMain{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: -1;
    overflow: hidden;
    /* background-color: beige; */
    width: 100%;
    margin: 1rem;
    /* overflow: hidden; */
}
.skillscomponentMain img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
@media(max-width:375px){
    .skillscomponentWrapper{
        height: 15.8rem;
        width: 16rem;
    }
}